.wrapper {
  /* padding-top: 50px; */
  /* background: rgb(120, 121, 122); */
  background-image: url(Images/death.png);
  background-size: cover;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  /* padding: 10px; */
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  margin-top: -30px;
  padding-bottom: 600px;
  background-position: center;
}

.container-fluid {
  width: 100%;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}
