.jumbotron {
    padding: 4rem 2rem;
    margin-top: 85px;
    text-align: center;
    background-image: url(Images/greyed.jpg);
    background-size: cover;
    color: white;
}

h1 {
    font-size: 70px;
    font-family: 'Slackey', cursive;
}
